body {
  overflow: hidden;
  padding: 0 5vw;

  main {
    display: flex;
    flex-direction: column;
    margin: 2vh auto;
    padding: 0;
    overflow: hidden;
    max-width: 600px;
    height: 95vh;
    background-color: rgba(#ffffff, 0.3);
    box-shadow: black 1px 1px 10px;

    div {
      text-align: center;
    }
  }
}

.bg_video {
  min-height: 100vh;
  width: 100%;
  height: auto;
  opacity: 0.6;
  position: fixed;
  overflow: auto;
  margin: 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;

  @media (max-width: 1700px) {
    width: auto;
    height: 100%;
  }
}

header {
  background-color: #8287c93f;
  width: 100%;
  height: 6%;
  box-shadow: rgb(2, 2, 2) 0px 2px 10px;
  display: flex;
  justify-content: space-between;

  .logo {
    align-self: center;
    height: 100%;
    width: 40%;

    img {
      height: 100%;
      align-self: center;
    }
  }

  .nav {
    width: 50%;
    display: flex;
    height: 100%;

    ul {
      width: 90%;
      height: 90%;
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      align-self: center;
      z-index: 5;
      padding: 0 5% 0 0;

      li {
        display: block;
        height: 100%;
        align-self: center;
      }
    }

    img {
      display: block;
      height: 70%;
      padding: 5px;

      &:hover {
        box-shadow: #0d919b 0 0 10px;
        border-radius: 50%;
      }

      &:active {
        box-shadow: #42c3cc 1px 1px 5px;
      }
    }

    .burger {
      margin: auto 20px auto auto;
      align-self: center;
      display: none;
      height: 90%;

      img {
        height: 80%;
      }
    }
  }

  @media (max-width: 575px) {
    .nav {
      ul {
        height: 10%;
        flex-direction: column;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10vh 40px 0 0;

        li {
          width: 10%;
          align-self: flex-end;

          img {
            align-self: end;
          }
        }
      }

      .burger {
        display: block;
        z-index: 6;
      }
    }
  }

  @media (min-width: 576px) {
    .nav {
      ul {
        display: flex !important;
        position: relative;
      }
    }
  }

  @media (max-height: 600px) {
    height: 10%;
  }
}

//header

.container {
  max-width: 600px;
  overflow: auto;
  height: 94%;
  padding: 5% 10% 10% 10%;
  display: flex;
  flex-direction: column;

  span:hover {
    text-shadow: #5dc8e5 0 0 5px;
  }

  .manag {
    display: flex;
    flex-direction: row;

    img {
      height: 13px;
      width: 13px;
      padding: 5px;
      opacity: 0.5;

      &:hover {
        box-shadow: #0d919b 0 0 10px;
        opacity: 1;
        border-radius: 50%;
      }

      &:active {
        box-shadow: #42c3cc 1px 1px 5px;
        opacity: 1;
      }
    }
  }

  div {
    text-align: center;
  }

  .task {
    margin-bottom: 5px;

    .edit_text {
      width: 100%;
      background-color: rgba(255, 255, 255, 0);
      height: 15px;
      align-self: center;
    }

    .task_content {
      display: flex;
      justify-content: space-between;

      span {
        font: 500 1.2em arial;
        width: 100%;
        text-align: left;
      }
    }

    .subTask {
      display: flex;

      span {
        font: 300 1em arial;
        text-align: left;
        width: 100%;
      }
    }

    .item {
      margin: 5px;
      align-self: center;
    }
  }

  @media (max-width: 670px) {
    .task {
      .task_content {
        span {
          font: 400 1em arial;
        }
      }

      .subTask {
        input {
          margin: 2px;
        }
      }

      .item {
        margin: 3px;
        align-self: center;
      }
    }
  }

  @media (max-height: 600px) {
    height: 90%;
  }
}

.add {
  position: absolute;
  bottom: 0;
  margin: 0 0 12vh 500px;
  z-index: 5;
  opacity: 0.5;
  padding: 10px;

  &:hover {
    box-shadow: #0d919b 0 0 10px;
    border-radius: 50%;
    opacity: 1;
  }

  &:active {
    box-shadow: #42c3cc 1px 1px 5px;
    opacity: 1;
  }

  @media (max-width: 670px) {
    margin-left: 70vw;
  }
}

.input {
  width: 50%;
  max-width: 300px;
  height: 30%;
  padding: 5px;
  display: none;
  flex-direction: column;
  z-index: 8;

  #input {
    margin: 0;
    width: 98%;
    height: 90%;
    resize: none;
    opacity: 0.5;
    background-color: rgba(2, 2, 2, 0.466);
    color: white;
    font: 1.5em sans-serif;
  }

  div {
    display: flex;
    justify-content: space-around;

    .input_yes {
      color: green;
      background: rgba(255, 255, 255, 0.39);
      border-radius: 5px;
      width: 30%;
      font-size: large;

      &:hover {
        background: rgb(255, 255, 255);
      }

      &:active {
        background: rgba(255, 255, 255, 0.685);
      }
    }

    .input_no {
      color: red;
      background: rgba(255, 255, 255, 0.39);
      border-radius: 5px;
      width: 30%;
      font-size: large;

      &:hover {
        background: rgb(255, 255, 255);
      }

      &:active {
        background: rgba(255, 255, 255, 0.685);
      }
    }
  }
}

.window {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  background-color: rgba(0, 0, 0, 0.315);
}

.fond {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.199);
  z-index: 7;
  display: none;
}

.references {
  height: 70%;
  width: 70%;
  max-width: 500px;
  overflow: auto;
  display: none;
  z-index: 8;
  padding: 10px 5% 10px 5px;
  text-align: justify;
  color: white;
  text-shadow: black 1px 1px 2px;
}

.saves,
.deletes {
  height: 150px;
  width: 70%;
  max-width: 300px;
  display: none;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  z-index: 8;

  span {
    margin-top: 10%;
    width: 100%;
    font: 500 1.5em sans-serif;
    color: rgb(255, 255, 255);
  }

  div {
    display: flex;
    justify-content: space-around;

    .save_yes,
    .delete_yes {
      color: green;
      background: rgba(255, 255, 255, 0.39);
      border-radius: 5px;
      width: 30%;
      font-size: large;

      &:hover {
        background: rgb(255, 255, 255);
      }

      &:active {
        background: rgba(255, 255, 255, 0.685);
      }
    }

    .save_no,
    .delete_no {
      color: red;
      background: rgba(255, 255, 255, 0.39);
      border-radius: 5px;
      width: 30%;
      font-size: large;

      &:hover {
        background: rgb(255, 255, 255);
      }

      &:active {
        background: rgba(255, 255, 255, 0.685);
      }
    }
  }
}

@media (max-width: 500px) {
  body {
    font-size: 12px;
  }
}