body{
    overflow: hidden;
    padding: 2vh 5vw;

}

.bg_video{
    min-height: 100vh;
    width: 100%;
    height: auto;
    opacity: 0.6;
    position: fixed;
    overflow: auto;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    background: url("../img/bg_1.jpg");
    // background-position: center;
    background-size: cover;

    @media (max-width: 1290px){
        width: auto;
        height: 100px;

    }
}

.container{
    max-width: 600px;
    height: 95vh;
    background-color: rgba(#ffffff, 0.3);
    box-shadow: black 1px 1px 10px;
}

div{
    background-color: #1fbdc93f;
    margin: 5px;
    text-align: center;
}